<!DOCTYPE html>
<html>
  <head>
      {{ partial "head" . }}
  </head>
  <body>
    {{ partial "components/resume/top" . }}
    {{ partial "components/resume/middle" . }}
    {{ partial "components/resume/bottom" . }}
    {{ partial "components/ribbon" . }}
    <script src="{{ .Site.BaseURL }}javascripts/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}javascripts/bootstrap.min.js"></script>
    <script src="{{ .Site.BaseURL }}javascripts/resumecards.js"></script>
    {{ partial "include/scripts" . }}
  </body>
</html>
