<!DOCTYPE html>
<html>
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    {{ partial "components/resume/top" . }}
    {{ partial "components/resume/middle" . }}
    {{ partial "components/resume/bottom" . }}
    {{ partial "components/ribbon" . }}
    <script src="{{ .Site.Data.baseURL }}/javascripts/jquery.min.js"></script>
    <script src="{{ .Site.Data.baseURL }}/javascripts/bootstrap.min.js"></script>
    <script src="{{ .Site.Data.baseURL }}/javascripts/resumecards.js"></script>
    {{ if .Site.Data.enableAnalytics }}
      {{ template "_internal/google_analytics.html" . }}
    {{ end }}
  </body>
</html>